.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.item {
    font-weight: bold;
}

.title {
    text-align: center;
}